.setModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.setModal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.setModal > section {
  width: 90%;
  max-width: 450px;
  min-height: 350px;
  max-height: 550px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  overflow-y: auto;
}
.setModal > section > header {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  padding: 16px 64px 16px 16px;
  font-weight: 700;
  font-size: 15px;
}
.setModal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
}

.setModal-div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 20px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: auto;
}

.setEmail {
  font-weight: normal;
}

.setTitle {
  margin-right: 30px;
}

.setModal-span {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.setModal-title {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}
.setModal-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  width: 60%;
}
.setModal-inputPW {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 60%;
  margin: 5px 0;
}
.setModal-info {
  padding-left: 10px;
}
.setModal-info button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.setModal-info .logout-btn {
  width: 80px;
  margin-right: 20px;
  border-radius: 8px;
  padding: 7px 5px;
  color: white;
  font-weight: 500;
  font-size: 13px;
  background-color: rgb(239, 175, 116);
}

.logoutModal {
  display: flex;
  justify-content: flex-end;
}

.setModal-span:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.setModal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes setModal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes setModal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
