.sidebar {
  display: flex;
  width: 140px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  padding: 40px 0;
  position: absolute;
}

.sidebar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-name {
  font-size: 24px;
  color: #fff;
  background-color: #ff5c00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.profile-info {
  font-size: 16px;
  font-weight: 400;
}

.profile-info-top {
  margin-top: 20px;
}

.sidebar-btn-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-btn {
  background-color: #e6e6e6;
  font-size: 22px;
  padding: 10px;
  border-radius: 12px;
  margin: 13px 0;
  opacity: 0.7;
  cursor: pointer;
}

.faCog,
.faBell,
.faSignOut {
  width: 24px;
}
