.tutorial-content {
  width: 100% !important;
  /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
  padding: 30px 100px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tutorial-main {
  padding: 30px;
  width: 50%;
  align-items: center;
  float: left;
  margin-top: 20px;
}
.tutorial-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
  float: right;
}
@media (max-width: 500px) {
  .tutorial {
    width: auto;
  }
  .tutorial-main {
    float: none;
    width: auto;
  }
  .tutorial-start {
    float: none;
    width: auto;
  }
}
.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  border: 0;
  box-shadow: var(--box-shadow);
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
}
.google-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.naver-img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}
.inputBox {
  width: 350px;
  height: 60px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 2px solid #450066;
  font-size: 14px;
  padding: 20px;
}
.loginBtn {
  width: 350px;
  height: 60px;
  background-color: #d6b4de;
  border-radius: 10px;
  border: 2px solid #450066;
  font-size: 16px;
  color: #450066;
  padding: 10px;
}

.login-start {
  margin-top: 80px;
}

.emailLoginBox {
  margin-top: 20px;
  margin-bottom: 5px;
}

.passwordFind {
  font-size: 14px;
  color: #5d5d5d;
  margin-top: 5px;
  margin-bottom: 30px;
}
