.DetailPage {
  /* display: flex; */
  width: 100vw;
  min-height: 100%;
}

/* Header */
/* .DetailPage .memo-Header {
      height: 20%;
      width: 100%;
    }
    .DetailHeader {
      padding: 20px;
      margin-left: 190px;
    } */
.DetailPage .side-menu {
  position: relative;
  width: 10%;
  float: left;
}
.DetailPage .memo-container {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  float: right;
  position: relative;
}
.memo-container .memo-header {
  height: 20%;
  width: 100%;
  padding-top: 10px;
}

.DetailHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}
.DetailHeader h2 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.DetailHeader .memo-setting {
  font-size: 24px;
  cursor: pointer;
}

.memo-container .memo-content {
  height: 80%;
  padding-top: 100px;
  padding-left: 140px;
  margin-bottom: 35px;
}

.memo-content h1 {
  font-size: 25px;
}
.memo-content span {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 10px;
}

/* category */
.category {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.category_container {
  margin-left: 160px;
  width: 70%;
  padding-bottom: 9px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.category_title {
  font-size: 15px;
  font-weight: 500;
  color: rgb(111, 111, 111);
  padding: 0 24px;
  padding-bottom: 9px;
  cursor: pointer;
}

.category_title_highlight {
  font-size: 15px;
  font-weight: 500;
  color: black;
  padding: 0 24px;
  padding-bottom: 9.5px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.cateogory_create {
  font-size: 15px;
  font-weight: 400;
  color: rgb(111, 111, 111);
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 30px;
  cursor: pointer;
}

.category_context {
  display: flex;
  width: 70%;
  margin-left: 130px;
  margin-top: 7px;
}

.edittitle {
  outline: none;
  border: none;
  font-size: 14px;
  background-color: #a9bac3;
  padding: 3px 10px;
  border-radius: 5px;
}

/* Detail Set Icon */

.DetailSetIcon {
  display: flex;
  width: auto;
  position: absolute;
  right: 70px;
  top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 3px 0;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 3px rgb(188, 188, 188);
  transition-delay: 3s;
}

.DetailSetIcon_none {
  display: none;
}
.detailsetting {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px 20px;
  padding-left: 15px;
}
.detailsetting_none {
  border-bottom: none;
}
.DetailSetIcon span {
  width: 100%;
  cursor: pointer;
}

/* Category Content */
.CategoryContent {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 100%;
}

.CategorySetSmall {
  display: flex;
  padding: 10px 5px;
  justify-content: center;
  align-items: flex-end;
  margin-right: 270px;
  flex-direction: column;
}

.CategorySetSmall span {
  font-size: 12px;
  opacity: 0.7;
  padding: 0 10px;
  cursor: pointer;
}

.CategorySetSmall2 {
  display: flex;
  width: 70%;
  padding: 10px 50px;
  justify-content: flex-start;
  margin-left: 160px;
}

.CategorySetSmall2 span {
  font-size: 11px;
  opacity: 0.7;
  padding: 0 10px;
}

.Category {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 0;
}

.CategoryCell input {
  border: none;
  width: 90%;
}

.CategoryCell input:focus {
  outline: none;
}

.CategoryCellLine {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px 0;
}

.cellEllipsis,
.cellPlus {
  font-size: 15px;
  opacity: 0.05;
  padding: 0 5px;
  cursor: pointer;
}

.cellEllipsis {
  padding-right: 15px;
}

.cellEllipsis:hover,
.cellPlus:hover {
  opacity: 0.5;
}

.spantoinput {
  padding: 1px 10px;
}

/* cell css */

.cellEffect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  left: 72px;
  font-size: 12px;
  border: 0.1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}

.cellEffect span {
  padding: 5px 15px;
  border-radius: 3px;
  border-bottom: 0.1px solid rgb(0, 0, 0, 0.1);
}

.textstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  left: -115px;
  bottom: 32px;
  border: 0.1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 3px;
}
.textstyle span {
  padding: 4px 9px;
}

.textcolor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -93px;
  border: 0.1px solid rgb(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
}

.bgcolor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -95px;
  border: 0.1px solid rgb(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2px;
}

.colorA {
  padding: 5px 8px !important;
  padding-left: 0 !important;
  border-bottom: 0 !important;
}

.h1 {
  font-size: 25px;
}
.h2 {
  font-size: 17px;
}
.h3 {
  font-size: 13px;
}
.black,
.colorA_black {
  color: black;
}
.red,
.colorA_red {
  color: #ea5e76;
}
.blue,
.colorA_blue {
  color: #90a7b2;
}
.green,
.colorA_green {
  color: #7cbfb6;
}
.purple,
.colorA_purple {
  color: #906fa8;
}
.orange,
.colorA_orange {
  color: #fcbfb6;
}
.yellow,
.colorA_yellow {
  color: #f9d877;
}
.pink,
.colorA_pink {
  color: #f092a5;
}
.bold,
.style_bold {
  font-weight: bold;
}
.underline,
.style_underline {
  text-decoration: underline;
}
.linethrough,
.style_linethrough {
  text-decoration: line-through;
}
.italic,
.style_italic {
  font-style: italic;
}
.basic {
  font-style: normal;
}
.basicbg {
  background-color: none;
}
.red_bg {
  background-color: #fe798f;
}
.orange_bg {
  background-color: #fcbfb6;
}
.yellow_bg {
  background-color: #ffebb1;
}
.green_bg {
  background-color: #9ecdc7;
}
.blue_bg {
  background-color: #9bb5c1;
}
.purple_bg {
  background-color: #dec4f6;
}
.pink_bg {
  background-color: #ffc0c0;
}

.ImageBtn {
  display: none;
}

.edittitle_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.edittitle_box span {
  font-weight: bold;
}
