@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

/* TodoContainer */
.TodoContainer {
  width: 220px;
  height: 260px;
  position: relative;
  background: #fff4bb;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 32px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Nanum Gothic";
}

.TodoAdd .todo_create_form form {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #ffffff;
}

.TodoAdd .todo_create_form form > input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  width: 100%;
  outline: none;
  font-size: 11px;
  box-sizing: border-box;
}

.TodoContainer .todo_create_btn .openToggle {
  /* background: #38d9a9; */
  z-index: 5;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  color: rgb(255, 191, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.125s all ease-in;
}

/* TodoList */
.TodoList {
  flex: 1;
  padding: 15px 20px;
  overflow-y: auto;
}

/* TodoItem */
.TodoItem {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.TodoItem .todo_done {
  flex: 1;
  font-size: 13px;
  color: #7a7a7a;
  text-decoration: line-through;
  font-family: "Nanum Gothic";
  font-weight: bold;
}
.TodoItem .todo_notyet {
  flex: 1;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  font-family: "Nanum Gothic";
}

.TodoItem .todo_btn_done {
  width: 15px;
  height: 15px;
  border-radius: 16px;
  background-color: white;
  color: #ff0000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.TodoItem .todo_btn_notyet {
  width: 15px;
  height: 15px;
  border-radius: 16px;
  background-color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.TodoItem .remove_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
  font-size: 5px;
}
.TodoItem .remove_btn :hover {
  color: #ff0000;
}

.trash-icon {
  font-size: 12px;
}
