.tutorial-content {
  width: 100% !important;
  /* display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; */
  padding: 30px 100px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  background-color: #f6f6f6;
  border: 2px solid #7ba2c7;
}
.inputNextBox {
  width: 350px;
  height: 60px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 2px solid #8a3a00;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 4px;
}
.emailBtn {
  width: 350px;
  height: 60px;
  background-color: #ffeaea;
  border-radius: 10px;
  border: 2px solid #ff0000;
  font-size: 16px;
  color: #ff0000;
  margin: 4px 0;
  margin-bottom: 15px;
}
.emailFinishBtn {
  width: 350px;
  height: 60px;
  background-color: #c5dff6;
  border-radius: 10px;
  border: 2px solid #00499e;
  font-size: 16px;
  color: #00499e;
  padding: 10px;
  margin: 4px 0;
}
.getStart {
  width: 350px;
  height: 60px;
  background-color: #ffc977;
  border-radius: 10px;
  border: 2px solid #8a3a00;
  font-size: 16px;
  color: #8a3a00;
  padding: 10px;
}

.signupTitle {
  font-size: 19px;
}

.signupBox {
  margin-top: 45px !important;
}

.nicknameBox {
  margin-top: 50px;
}
